<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>
        <%=title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        input,
        select {
            width: 100%;
            height: 100%;
            border: none;
            padding-left: 12px;
        }
        
        ul {
            padding: 0;
            margin: 0;
        }
        
        li {
            list-style: none;
        }
        
        th {
            text-align: center;
        }
        
        .sug {
            width: 100%;
            /*            margin: 20px auto;*/
            
            position: relative;
        }
        
        .sug-input,
        .input {
            width: 100%;
            height: 28px;
            border: 1px solid #ccc;
            overflow: hidden;
        }
        
        .sug input[type="search"] {
            width: 100%;
            height: 100%;
        }
        
        .sug .sug-lists {
            width: 100%;
            position: absolute;
            top: 30px;
            border: 1px solid #ccc;
            background-color: #fff;
            display: none;
            z-index: 3;
        }
        
        .sug .sug-lists li {
            padding-left: 12px;
            line-height: 26px;
            cursor: default;
        }
        
        .sug .sug-lists .active {
            background-color: #3e3eff;
            color: #fff;
        }
    </style>
</head>

<body>

    <div ng-controller="testCtrl">
        <div>
            <!--            {{ suglists }}-->
            <sug source="suglists" on-blur="InuputBlur(search)" on-select="selected(select)"></sug>
        </div>

        <div class="continer">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="10%">序</th>
                        <th width="35%">供应商</th>
                        <th width="35%">供应商地址</th>
                        <th>入库数量</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sup in suppliers">
                        <td class="text-center">{{ $index+1 }}</td>
                        <td>
                            <p>{{ sup.supplier.name }}</p>
                            <sug source="suglists" select-item="sup" sug-select='sup.supplier' on-blur="InuputBlur(search)" on-select="selected(select)"></sug>

                        </td>
                        <td>
                            <!--                            <p>{{ sup.addr.name }}</p>-->
                            <div class="input">
                                <select ng-options="addr.name for addr in sup.addrs" ng-model="sup.addr"></select>

                            </div>
                        </td>
                        <td>
                            <!--                            <p>{{sup.num}}</p>-->
                            <div class="input">
                                <input type="number" ng-model="sup.num">
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/javascripts/vendor/jquery.min.js"></script>
    <script src="/javascripts/vendor/angular.min.js"></script>
    <script src="/javascripts/vendor/angular-route.min.js"></script>
    <script src="/javascripts/app.js"></script>
</body>

</html>