body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input,
select {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 12px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

th {
  text-align: center;
}

.sug {
  width: 100%;
  /*            margin: 20px auto;*/
  position: relative;
}

.sug-input,
.input {
  width: 100%;
  height: 28px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.sug input[type="search"] {
  width: 100%;
  height: 100%;
}

.sug .sug-lists {
  width: 100%;
  position: absolute;
  top: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
  z-index: 3;
}

.sug .sug-lists li {
  padding-left: 12px;
  line-height: 26px;
  cursor: default;
}

.sug .sug-lists .active {
  background-color: #3e3eff;
  color: #fff;
}